<div class="container mt-5">
  <h1 class="text-center mb-4 text-primary">Dashboard</h1>
  <p class="text-center text-dark mb-4">Welcome to your dashboard! Find the links below to manage your hotels and logout.</p>

  <div class="d-flex justify-content-center">
    <!-- Hotels Link -->
    <%= link_to 'Hotels', hotels_path, class: 'btn btn-outline-primary rounded-pill mx-2' %>

    <!-- Logout Link -->
    <%= link_to 'Logout', destroy_user_session_path, 
                data: { turbo_method: :delete }, 
                class: 'btn btn-outline-danger rounded-pill mx-2' %>
  </div>
</div>
