<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>

<div id="rooms">
  <% @hotel.rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= link_to "Show this room", hotel_room_path(@hotel, room) %>
    </p>
  <% end %>
</div>
<%if  @user&.role == 'admin'  %>
<%= link_to "New room", new_hotel_room_path(hotel_id: @hotel.id) %>
<%end%>

